.movie-container {
    top: 400px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    border: solid;
    border-color: #212529;
    border-width: 4px;
    background: #212529;
    margin: 10px;
    margin-right: 13px;
}

h3{
    font-family: "Rockwell", "Rockwell";
	font-size: 50px;
	text-align: center;
	color: ivory;
}

#movies {
    position: absolute;
    margin-left: -5px;
}

.posters {
    margin-top: 10px;
    width: 200px;
    height: 300px;
    cursor: pointer;

}

.caption {
    display: block;
    color: white;
}
#searchBar {
    position: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recposter {
    width: 70px;
    height: 100px;
}
.rec-container {
    top: 400px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
    border: solid;
    border-color: darkorange;
    border-width: 4px;
    background-color: beige;
    margin: 10px;
}

.title, .desc, .genre{
    color: white;
}

#page-buttons {
    margin-left: 35%;
    padding: 20px;
}
#prev {
    margin-right: 30px;
    width: 100px;
    height: 50px;
}
#next {
    width: 100px;
    height: 50px;
}


