*{
	font-family: "Rockwell", "Rockwell";
}
.movie-container {
    top: 400px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    background: #212529;
    margin: 10px;
    align-items: center;
}
p {
	font-size: 40px;
	text-align: center;
	color: ivory;
}

h3{
	font-size: 50px;
	text-align: center;
	color: ivory;
}

#movies {
    position: relative;
}

.posters {
    margin-top: 10px;
    width: 200px;
    height: 300px;
    cursor: pointer;
}

.posters:hover {
    border: solid;
    border-color: crimson;
    border-width: 4px;
}

.caption {
    display: block;
    color: white;
}

#searchBar {
    position: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recposter {
    width: 70px;
    height: 100px;
    cursor: pointer;
}

.rec-container {
    top: 400px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
    border: solid;
    border-color: darkorange;
    border-width: 4px;
    background-color: beige;
    margin: 10px;
}

.title, .desc, .genre{
    color: white;
}

#page-buttons {
    margin-left: 35%;
    padding: 20px;
}

#prev {
    margin-right: 30px;
    width: 100px;
    height: 50px;
}
#next {
    width: 100px;
    height: 50px;
}

div#page-buttons.movie-container{
    margin: 10px;
}


.row {
    justify-content: center;
}

.poster{
    float: left;
    margin: 25px 25px 15px 0px;
}
.title {
    margin-bottom: 50px;
    font-size: 28px;
}
.desc {
    font-size: 18px;
}

.genre {
    font-size: 15px;
    display: flex;
}


