h1 {
	color: darkblue;
	font-size:60px;
}

body {
	background: #000000;
	background: url("/static/images/logo.png");
}

#demo{
	font-size: 12px;
	color: darkblue;
}

#movie-container h5 {
	font-size: 12px;
}