h1 {
	color: ivory;
	text-align: center;
	font-size:60px;
	font-family: "Rockwell", "Rockwell";
}

h2 {
	font-family: "Rockwell", "Rockwell";
	font-size: 40px;
	text-align: center;
	color: ivory;
}

p {
	color: ivory;
}

body {
	background: #212529;
	font-family: "Rockwell", "Rockwell";
}

.glass {
	float: left;
}
.boots {
	float: left;
}
.luca, .everything {
	float: right;
}

.navbar-brand {
	height: 80px;
	font-family: "Rockwell", "Rockwell";
	font-size: 30px;
	color: #2879C0;
}

#demo{
	font-size: 12px;
	color: darkblue;
}