{% extends 'base.html' %} {% block content %}

<h1>Welcome to CineBuddy!</h1>

<h2>Top Movies of The Year</h2>

<!--Images from: https://www.deviantart.com/pinoymayfire-->
<div class="glass"> <img src="/static/images/glassonion.png" alt="glassonion"/></div>
<div class="luca"> <img src="/static/images/luca.png" alt="luca"/></div>

<!--https://www.deviantart.com/nandha602/art/Puss-In-Boots-The-Last-Wish-2022-Movie-Folder-v1-924482911-->
<div class="boots"> <img src="/static/images/pussinboots.png" alt="pussinboots"/></div>
<!--https://www.deviantart.com/pinoymayfire/art/Everything-Everywhere-All-At-Once-2022-Folder-911654419-->
<div class="everything"> <img src="/static/images/EEAAO.png" alt="EEAAO"/></div>

{% endblock %}
